<nav>
  <button id="homepagebtn">Homepage</button>
  <!-- Conditionally render login or logout links -->
  {{#if user.logged_in}}
  <button class="no-button" id="logout">logout</button>
  {{else}}
  <a href="/login">login</a>
  {{/if}}
  {{#if user.logged_in}}
  <button id="addgame">Add a Game</button>
  {{/if}}
    {{#if user.logged_in}}
  <button id="addplayerstatsbtn">Add Player Stats</button>
  {{/if}}
    {{#if user.logged_in}}
  <button id="createplayer">Create a Player</button>
  {{/if}}
  {{#if user.logged_in}}
  <button id="allplayersbtn">See All Players</button>
  {{/if}}
  </nav>