<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track my Stats!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="main-body">
  <div class="container">
    <div class="header">
      <h1>Track my Stats!</h1>
    </div>
    <div class="content">
      {{{ body }}}
    </div>
    <div class="footer">
      <p>© 2020 Track my Stats! All rights reserved.</p>
    </div>
  </div>
</body>

<script src="/js/logout.js"></script>
</html>