<form >
    <label for="gamedate">Date:(M/D/YYYY)</label>
    <input type="text" id="gdate" name="gamedate"><br>

    <label for="season">Season:</label>
    <input type="text" id="season" name="season"><br>
  
    <label for="hometeam">Home Team:</label>
    <input type="text" id="hometeam" name="hometeam"><br>

    <label for="awayteam">Away Team:</label>
    <input type="text" id="awayteam" name="awayteam"><br>

    <label for="homescore">Home Score:</label>
    <input type="text" id="homescore" name="homescore"><br>

    <label for="awayscore">Away Score:</label>
    <input type="text" id="awayscore" name="awayscore"><br>

    <label for="fouls">Fouls:</label>
    <input type="text" id="fouls" name="fouls"><br>

    <label for="turnovers">Turnovers:</label>
    <input type="text" id="turnovers" name="turnovers"><br>

    <label for="rebounds">Rebounds:</label>
    <input type="text" id="rebounds" name="rebounds"><br>

    <label for="steals">Steals:</label>
    <input type="text" id="steals" name="steals"><br>

    <label for="blocks">Blocks:</label>
    <input type="text" id="blocks" name="blocks"><br>

    <label for="assists">Assists:</label>
    <input type="text" id="assists" name="assists"><br>

    <input type="submit" id="addgamedata">
  
  </form>

<script src="./js/addgame.js"