<form>
    <label for="gamedate">Date:</label>
    <input type="date" id="gdate" name="gamedate">
  
    <label for="season">Season:</label>
    <input type="text" id="season" name="season">
  
    <label for="hometeam">Home Team:</label>
    <input type="text" id="hometeam" name="hometeam">

    <label for="awayteam">Away Team:</label>
    <input type="text" id="awayteam" name="awayteam">

    <label for="homescore">Home Score:</label>
    <input type="text" id="homescore" name="homescore">

    <label for="awayscore">Away Score:</label>
    <input type="text" id="awayscore" name="awayscore">

    <label for="fouls">Fouls:</label>
    <input type="text" id="fouls" name="fouls">

    <label for="turnovers">Turnovers:</label>
    <input type="text" id="turnovers" name="turnovers">

    <label for="rebounds">Rebounds:</label>
    <input type="text" id="rebounds" name="rebounds">

    <label for="steals">Steals:</label>
    <input type="text" id="steals" name="steals">

    <label for="blocks">Blocks:</label>
    <input type="text" id="blocks" name="blocks">

    <label for="assists">Assists:</label>
    <input type="text" id="assists" name="assists">
  
  </form>