<form>
    <label for="newname">Name:</label>
    <input type="date" id="newname" name="newname">
  
    <label for="position">Position:</label>
    <input type="text" id="position" name="position">
  
    <label for="age">Age:</label>
    <input type="text" id="age" name="age">

    <label for="height">Height:</label>
    <input type="text" id="height" name="height">

    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight">

    <label for="college">College:</label>
    <input type="text" id="college" name="college">
    
  </form>

  <script src="/js/createnewplayer.js"></script>