<form>
    <label for="addplayerid">Player Id:</label>
    <input type="text" id="addplayerid" name="addplayerid"><br>
  
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname"><br>
  
    <label for="lname" >Last Name:</label>
    <input type="text" id="lname" name="lname"><br>

    <label for="gameid">Game Id:</label>
    <input type="text" id="gameid" name="gameid"><br>

    <label for="ptscored">Points:</label>
    <input type="text" id="ptscored" name="ptscored"><br>

    <label for="prebounds">Rebounds:</label>
    <input type="text" id="prebounds" name="prebounds"><br>

    <label for="passists">Assists:</label>
    <input type="text" id="passists" name="passists"><br>

    <label for="psteals">Steals:</label>
    <input type="text" id="psteals" name="psteals"><br>

    <label for="pturnovers">Turnovers:</label>
    <input type="text" id="pturnovers" name="pturnovers"><br>
    
    <label for="pblocks">Blocks:</label>
    <input type="text" id="pblocks" name="pblocks"><br>
    
    <label for="pfouls">Personal Fouls:</label>
    <input type="text" id="pfouls" name="pfouls"><br>

    <input type="submit" id="addplayer"
</form>

<script src="/js/addplayerstats.js"></script>