<div class = "container1">
    <h2>Please Sign In to proceed</h2>
    <div>
        <label for="username">Username:</label>
    </div>
    <div>
        <input id="username-login" type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
    </div>
    <div>
        <input id="password-login" type="password" name="password">
    </div>
    <div>
        <button id="login">Login</button>
    </div>
</div>

<div class="container2">
    <P> OR </P>
</div>

<div class = "container3">
    <h2>Please Sign Up to create an account</h2>
    <div>
        <label for="username">Username:</label>
    </div>
    <div>
        <input id="username-login" type="text" name="username">
    </div>
    <div>
        <label for="password">Password:</label>
    </div>
    <div>
        <input id="password-login" type="password" name="password">
    </div>
    <div>
        <label for="email">Email:</label>
    </div>
    <div>
        <input id="email-signup" type="email" name="email">
    </div>
    <div>
        <button id="signup">Sign Up</button>
    </div>
</div>

<script src="../public/js/login.js"></script>