{{> navbar }}
<div class = "container">
    <label for="username">Username:</label>
    <input id="username-login" type="text" name="username">

    <label for="password">Password:</label>
    <input id="password-login" type="password" name="password">

    <button id="login">Login</button>
</div>

<div class = "container">
    <label for="username">Username:</label>
    <input id="username-signup" type="text" name="username">

    <label for="password">Password:</label>
    <input id="password-signup" type="password" name="password">

    <label for="email">Email:</label>
    <input id="email-signup" type="email" name="email">

    <button id="signup-form">Login</button>
</div>

<script src="js/login.js"></script>